@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Inter", Helvetica, Arial, sans-serif;
}



/* ----------------------------- HOME ----------------------------- */

/* ---------------------------- Header ---------------------------- */

header {
    background-color: #944547;
    padding: 20px 0 15px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    color: white;
    cursor: pointer;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ---------------------------- Content ---------------------------- */

h1 {
    text-align: center;
    margin: 0;
    color: white;
    z-index: 5;
}

h1 span:first-child {
    font-size: 1.4rem;
}

h1 span:last-child {
    font-size: 8rem;
}

h2 {
    text-align: center;
}

/* --------------------------- ABOUT US --------------------------- */

.about-us#content {
    background-image: url("grey-kitty-with-monochrome-wall-her-min.jpg");
}

.about-us.page-title-container {
    padding: 40px 0 65px 0;
}

h2.about-us {
    font-family: "Bevan", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    margin: 0;
}

.about-us-row {
    background-color: white;

    display: flex;
    align-items: center;
}

.about-us-row:nth-child(2) {
    flex-direction: row-reverse;
}

.about-us-row .image-container {
    position: relative;
    display: inline-block; /* Or use 'block', depending on your layout */
    /* overflow: hidden; */
}

.about-us-row img {
    display: block; /* Removes bottom space/margin under the image */
    width: 50vw; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
}

.about-us-row#row-2 .image-container::after {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(240, 240, 240, 1) 100%);
}

.about-us-row .text-container {
    padding: 0 25px;
    min-height: 100%;
}

.about-us-row#row-2 {
    background-color: #f0f0f0;
}

.about-us-row p {
    font-size: 1.2rem;
    line-height: 26px;
    margin: 0;
}

/* -------------------------- CONTACT US -------------------------- */

#content.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    column-gap: 50px;
}

h2.contact-us {
    font-family: "Bevan", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    
    grid-area: 1 / 1 / 2 / 3;
}

#map {
    height: 600px;
    width: 600px;

    grid-area: 2 / 1 / 3 / 2;
    justify-self: end;
}

.contact-info-container div {
    display: flex;
}

.contact-info-container p {
    line-height: 25px;
}

.contact-info-container div:first-child {
    flex-direction: column;
}

.company-name {
    font-size: 1.3rem;
    font-weight: 600;
}

.contact-info-container .contact-us-row {
    gap: 20px;
    align-items: center;
}

.contact-info-container .logo {
    width: 60px;
    height: auto;
}

.icon {
    width: 40px;
    height: 40px;
}